.header {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--primary-text);

  &__title {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &__boardDropdown {
    position: relative;
  }

  &__boardToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--secondary-text);

    > svg {
      color: inherit;
    }
  }

  &__boardMenu {
    position: absolute;
    top: 30px;
    right: 0;
    margin-top: 10px;
    border-radius: 8px;
    width: 200px;
    background: var(--primary-bg);
    border: 1px solid var(--primary-border);
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    padding: 20px;
    z-index: 10;

    li {
      color: var(--secondary-text);
      padding: 8px 0;
      cursor: pointer;

      &:hover {
        color: var(--primary-text);
      }

      &:last-child {
        color: var(--color-danger-500);

        &:hover {
          color: var(--color-danger-300);
        }
      }
    }
  }
}
