.createBoardDialog {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 18px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__formLabel {
    display: flex;
    flex-direction: column;

    > input {
      margin: 4px 0;
    }
  }

  &__formLabelText {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid #828fa3;
    background: transparent;
    outline: none;
    padding: px-to-rem(12px);
    color: var(--secondary-text);
    border-radius: px-to-rem(6px);

    &--error {
      border: 1px solid var(--color-danger-500);
      animation: errorBounce 0.5s ease-in-out;
    }
  }

  &__helperText,
  &__nameError {
    font-size: 12px;
  }

  &__helperText {
    color: var(--secondary-text);
  }

  &__nameError {
    color: var(--color-danger-500);
  }

  &__columns {
    max-height: 180px;
    margin-bottom: 12px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    > input {
      flex: 1;
      color: var(--color-white);
    }

    > div {
      align-self: stretch;
      display: grid;
      place-items: center;
      padding-left: 12px;
      cursor: pointer;

      // Cross icon for removing columns
      > svg {
        scale: 1.1;
        color: var(--secondary-text)
      }
    }
  }
}

@keyframes errorBounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
