.createColumn {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background: color-mix(in srgb, var(--secondary-bg) 25%, transparent);

  &__title {
    flex: 1;
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  &__form {
    flex: 1;
  }
}
