.editingList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-size: 18px;
  }

  &__list {
    max-height: 180px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
