.pageLayout {
  flex: 1;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  background: var(--primary-bg);
  min-height: 0;

  &__header {
    grid-area: header;
    background: var(--secondary-bg);
    border-bottom: 1px solid var(--primary-border);
    padding: 18px 24px;
  }

  &__sidebar {
    grid-area: sidebar;
    background: var(--secondary-bg);
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-right: 1px solid var(--primary-border);
  }

  &__main {
    grid-area: main;
    min-width: 0;
    min-height: 0;
  }
}
